<h2 mat-dialog-title class="dialog-title">
  {{ isConflict ? 'Eventos en Conflicto' : 'Detalle del Evento' }}
</h2>

<mat-dialog-content class="dialog-content">
  <mat-card *ngFor="let evento of eventos" class="event-detail-card">
    <mat-card-title>{{ evento.title }}</mat-card-title>
    <mat-card-subtitle>
      Tipo: {{ evento.type | titlecase }} |
      Duración: {{ evento.durationHours }} h |
      Estado: {{ evento.status | uppercase }}
    </mat-card-subtitle>

    <mat-divider></mat-divider>

    <mat-card-content class="event-content">
      <div class="description-block">
        <strong>Descripción:</strong>
        <p class="description-text">
          {{ evento.description || 'Sin descripción' }}
        </p>
      </div>

      <p><strong>Fecha inicio:</strong> {{ evento.startDateTime | date:'short' }}</p>
      <p><strong>Fecha fin:</strong> {{ evento.endDateTime | date:'short' }}</p>
      <p *ngIf="evento.needsBudget"><strong>Presupuesto requerido:</strong> Sí</p>
      <p *ngIf="evento.estimatedBudget">
        <strong>Estimado:</strong> {{ evento.estimatedBudget | currency:'MXN':'symbol':'1.0-0' }}
      </p>
    </mat-card-content>
  </mat-card>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-stroked-button color="primary" (click)="cerrar()">Cerrar</button>
    <button
    *ngIf="isConflict && esPresidente"
    mat-flat-button
    color="warn"
    (click)="aprobarEventoYCancelarConflictos()"
  >
    Aprobar evento y cancelar conflictos
  </button>
</mat-dialog-actions>
