/* You can add global styles to this file, and also import other style files */
@import "@angular/material/prebuilt-themes/indigo-pink.css";
/*deeppurple-amber
indigo-pink.css
*/
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.container {
  max-width: 500px;
  margin: 0 auto;
  padding: 16px;
  box-sizing: border-box;
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
}

.event-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 16px;
  padding: 16px;
}


/* Sobrescribir toolbar primary */
.mat-toolbar.mat-primary {
  background-color: #073c5f  !important; /* negro */
  color: #fff !important; /* texto blanco */
}

/* Sobrescribir botones primary */
.mat-flat-button.mat-primary,
.mat-raised-button.mat-primary,
.mat-stroked-button.mat-primary,
.mat-icon-button.mat-primary {
  background-color: #5a5a5a !important; /* negro */
  color: #fff !important;
}

/* Íconos primary */
.mat-icon.mat-primary {
  color: #5a5a5a !important;
}


.form-container{width: 100%;}

