<mat-sidenav-container class="sidenav-container">
  <!-- Menú lateral -->
  <mat-sidenav
    #sidenav
    [mode]="isMobile ? 'over' : 'side'"
    [(opened)]="sidenavOpened"
    class="sidenav"
  >
    <mat-nav-list>
  <a mat-list-item routerLink="/events" (click)="isMobile ? toggleSidenav() : null">
    <mat-icon mat-list-icon>event</mat-icon>
    <span mat-line>Eventos</span>
  </a>

  <a mat-list-item routerLink="/events/new" (click)="isMobile ? toggleSidenav() : null">
    <mat-icon mat-list-icon>add_circle</mat-icon>
    <span mat-line>Crear Evento</span>
  </a>

  <a mat-list-item (click)="logout()">
    <mat-icon mat-list-icon>logout</mat-icon>
    <span mat-line>Salir</span>
  </a>
</mat-nav-list>

  </mat-sidenav>

  <!-- Contenido principal -->
  <mat-sidenav-content class="sidenav-content">
    <mat-toolbar color="primary" class="toolbar">
      <!-- Botón menú solo en móviles -->
      <button mat-icon-button (click)="toggleSidenav()" *ngIf="isMobile">
        <mat-icon>menu</mat-icon>
      </button>

      <!-- Título centrado -->
      <span class="toolbar-title">AGENDA</span>
    </mat-toolbar>

    <div class="content-wrapper">
      <div class="background-layer"></div>
      <div class="content">
        <router-outlet></router-outlet>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
